.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background: linear-gradient(145deg, #f2f6f924, #69fffd72); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px;
    position:absolute;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    inset: 0;
    z-index: 100;
}

.register-card {
    background-color: #fff;
    padding: 50px 40px;
    border-radius: 30px; 
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 600px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.register-card:before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background: rgba(255, 153, 51, 0.15);
    border-radius: 50%;
    top: -40px;
    right: -30px;
}

.register-card:after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background: rgba(153, 51, 255, 0.15);
    border-radius: 50%;
    bottom: -50px;
    left: -40px;
}

.register-card:hover {
    transform: translateY(-10px); 
    background-color: #f0f4f8;
}

.enhanced-title {
    color: #333; 
    text-align: center;
    font-size: 2rem; 
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    margin-bottom: 25px; 
    position: relative;
}

.enhanced-title:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: #ff9933;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.enhanced-form-group {
    margin-bottom: 25px;
}

.enhanced-label {
    color: #555; 
    font-size: 1.2rem; 
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

.enhanced-input {
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 15px 18px; 
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 1.1rem; 
    width: 100%; 
}

.enhanced-input:focus {
    border-color: #9933ff; 
    box-shadow: 0 0 8px rgba(153, 51, 255, 0.3);
}

.error-message {
    color: #d9534f;
    font-size: 0.9rem;
    margin-top: 5px; 
}

.enhanced-button {
    background-color: #ff9933; 
    color: white;
    padding: 14px 30px;
    font-size: 1.2rem; 
    border-radius: 8px; 
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.enhanced-button:hover {
    background-color: #cc7a00; 
    transform: translateY(-5px);
}

.enhanced-button:active {
    transform: translateY(2px);
}

.register-password-input-group {
    position: relative;
}

.register-toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff; 
}
